<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01//EN">
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<title>{{ defs.BLOG_NAME }}</title>
<link href="/static/style.css" rel="stylesheet" type="text/css"/>
</head>

{% include "inc/analytics.html" %}

<body>

{# {% include "inc/info_mini.html" %} #}

<div class="content_container">
    <div class="content">
        {% for article in articles %}
            {% include "inc/article-full.html" %}
	    {% endfor %}
    </div>
</div>

{% include "inc/info.html" %}

</body>
</html>
