<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01//EN">
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<title>{{ defs.BLOG_NAME }}</title>
<link href="/static/style.css" rel="stylesheet" type="text/css"/>
</head>

{% include "inc/analytics.html" %}

<body>

{% include "inc/info.html" %}

<div class="content_container">
  <div class="content">
	{% for article in articles %}
  	  {% include "inc/article-short.html" %}
	{% endfor %}
  </div>
</div>

{% if defs.DISQUS %}
<script type="text/javascript">
    /* * * CONFIGURATION VARIABLES: EDIT BEFORE PASTING INTO YOUR WEBPAGE * * */
    {% if defs.DEV_MODE %}
    var disqus_developer = 1;
    {% endif %}
    var disqus_shortname = '{{ defs.DISQUS_SHORTNAME }}'; // required: replace example with your forum shortname

    /* * * DON'T EDIT BELOW THIS LINE * * */
    (function () {
        var s = document.createElement('script'); s.async = true;
        s.type = 'text/javascript';
        s.src = 'http://' + disqus_shortname + '.disqus.com/count.js';
        (document.getElementsByTagName('HEAD')[0] || document.getElementsByTagName('BODY')[0]).appendChild(s);
    }());
</script>
{% endif %}

</body>
</html>
