<div class="article">
	{% if article.title %}
		<h2><a href="{{ article.path }}">{{ article.title }}</a></h2>
	{% endif %}
  
	{{ article.html }}

	{% if article.tags %}
	<div>
		<span class="tag_list">
			{% for tag in article.tags %}
				<a href="/tag/{{ tag }}">{{ tag }}</a>
			{% endfor %}
		</span>
	</div>
	{% endif %}
	
	<span class="article_info">
		<span class="timestamp">{{ article.published_when|date:"j F, Y" }}</span>
		<span class="left_spaced">
			<a href="{{ article.path }}#disqus_thread" data-disqus-identifier="blog_{{ article.slug }}">Comments</a>
		</span>
	</span>
</div>