<div class="info_container">
    <a id="info"/>
    
    <div class="info">
        <table width="100%" border="0"><tr>
            <td width="60%" valign="top">
                <div class="myself">
                    <!--  <img src="/static/myself.png" style="float: left; margin-right: 1em; margin-bottom: 1em;"/> -->
                    <div class="photo-placeholder">No photo yet</div>
                    <h2><a href="/">Elephantropy blog</a></h2>
                    <p>Blog by <a href="http://facebook.com/elephantum/">me</a>. Random ideas in no particular order.</p>
                </div>
            </td>
            <td width="40%" valign="top">
                <!--
                <div class="tags">
                    <h2>Topics</h2>
                    <ul>
                        <li>Social</li>
                        <li>Meaning of life</li>
                        <li>Software engineering</li>
                    </ul>
                </div>
                -->
  	  	<!--
		<div class="text-button" style="width: 10em"><a href="{{ archive_path }}">Complete archive.</a></div>
		<a href="{{ rss2_path }}" class="button"><img src="/static/rss2-small.gif" width="49" height="15" border="0"></a>
		-->
            </td>
        </tr></table>
    </div>
</div>
