<div class="info_mini_container">
  <div class="info">
  	<table width="100%" border="0"><tr>
  	  <td width="60%" valign="top">
		<div class="myself">
			<h2><a href="/">Elephant entropy</a></h2>
		</div>
  	  </td>
  	  <td width="40%" valign="top">
  	  	<a href="#info">More info ↓</a>
  	  	<!--
		<div class="text-button" style="width: 10em"><a href="{{ archive_path }}">Complete archive.</a></div>
		<a href="{{ rss2_path }}" class="button"><img src="/static/rss2-small.gif" width="49" height="15" border="0"></a>
		-->
  	  </td>
  	</tr></table>
  </div>
</div>
